{% extends 'base.html' %}

{% block container %}
<h2>Menus</h2>
<p>Below are our menus.
    <div>
        <hr class="solid">
        <p>
            Appitzer:
        </p>
            <p><BLOCKQUOTE>
                Greek Salad - $13<br>
                Caeser Salad - $12<br>
                Fried Calamari - $15<br>
                Garlic Bread - $10
            </BLOCKQUOTE>
            </p>
        <p>
            Pizza:
        </p>
            <p><BLOCKQUOTE>
                Margherita Pizza - $17 <br>
                Mushroom Pizza - $20 <br>
                Hawaiian Pizza - $19 <br>
                Vegetarian Pizza - $18 <br>
                Pepperoni Pizza - $20 <br>
                Cheese Pizza - $15
            </BLOCKQUOTE>
            </p>
        <p>
            Pasta:
        </p>
            <p><BLOCKQUOTE>
                Four Cheese Pasta - $17<br>
                Gnocchi with Tomato Sauce - $20<br>
                Spaghetti Bolognese - $18<br>
                Penne Ala Vodka - $18<br>
                Carbonara Pasta - $20<br>
            </BLOCKQUOTE>
            </p>
            
    </div>
</p>
{% endblock %}