{% extends 'base.html' %} {% block container %}
<h2>Write a Review</h2>
<p>Let us and others know what you think about our food!</p>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>Your name: <input type="text" id="fname" name="fname" /><br /></p>
  <p>
    Review
    <textarea type="text" id= "fmessage" name="fmessage"></textarea>
  </p>
  <p>
    Rating(1-5)
    <textarea type="number" id="frating" name="frating"></textarea>
  </p>
  <p>
    <a href="{{ url_for('read_review')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Post" />
  </p>
</form>
{% endblock %}
